/* Tiles */
.new {
  animation: new-tile .25s alternate 1 ease;
}

@keyframes new-tile {
  0% {
    /* opacity: 0; */
    transform: scale(0);
  }
  100% {
    /* opacity: 1; */
    transform: scale(1);
  }
}

/* Score */
.score {
  position: absolute;
  color:#776e65;
  animation: score-anim 1s alternate 1 ease-out;
}

@keyframes score-anim {
  0% {
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}